@import "scss/reset";
@import "scss/mixin";
@import "scss/variable";

.header {
  background-color: $lightPurple;
  &__informatives-top {
    background-color: $darkPurple;
    color: $white;
    padding: 7px;
    @include flex();
    &--text {
      @include flex(center, flex-end);
      font-size: calculator-rem(12);
      font-weight: 300;
      margin-right: 5px;
      &::after {
        content: "";
        width: 1px;
        height: 12px;
        background-color: $white;
        display: inline-block;
        margin: 0 10px 0 5px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    &--text-strong {
      font-weight: 700;
      margin: 0 5px;
      @include flex(center, flex-end);
      font-size: calculator-rem(12);
    }

    &--text-margin {
      font-weight: 300;
      margin-left: 5px;
    }
  }

  &__informatives-wrapper {
    max-width: 593px;
    @include flex(space-between);
  }

  &__container {
    @include container-center();
    @include flex();
  }

  &__logo {
    max-width: 238px;
    width: 100%;
    margin-right: 31px;

    &--text {
      font-size: calculator-rem(48);
      font-family: "ovo", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      width: 238px;
      height: 36px;
    }

    @include media-mob() {
      order: 2;
    }
  }

  &__menu-hamburguer {
    display: none;
    @include media-mob() {
      display: block;
      order: 1;
    }
  }

  &__menu {
    @include flex(space-between);
    flex: 1;
    margin: 0 31px;
    @include media-mob() {
      display: none;
    }
    height: 80px;
  }

  &__menu-wrapper-category {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: block;

    &:hover {
      background-color: $darkPurple;

      > .header__menu-category {
        color: $white;
      }

      .header__menu-sub-category {
        display: flex;
      }
    }
  }

  &__menu-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      .header__menu-items {
        display: flex;
      }
    }
  }

  &__menu-department {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    font-size: calculator-rem(14);
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__menu-items {
    @include flex();
    flex-direction: column;
    position: absolute;
    top: 90%;
    left: 0;
    color: $black;
    max-width: 194px;
    font-weight: 400;
    box-sizing: border-box;
    border-top: 8px solid $darkPurple;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: none;

    &.turmalina {
      background-color: $lightPurple;
      color: $white;
    }
  }

  &__menu-category {
    text-decoration: none;
    text-transform: capitalize;
    color: $darkPurple;
    font-weight: 400;
    font-size: calculator-rem(13);
    @include flex();
    height: 40px;
    width: 194px;
    // background-color: $white;

    &:hover {
      .header__menu-items {
        display: flex;
        color: $white;
        background-color: $white;
      }
    }
  }

  &__menu-sub-category {
    position: absolute;
    left: 100%;
    width: 210px;
    top: -8px;
    border-top: 8px solid $darkPurple;
    color: $darkPurple;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    display: none;

    &:hover {
      .header__menu-category {
        display: flex;
      }
    }

    a {
      &:hover {
        background-color: $darkPurple;
        color: $white;
      }
    }
  }

  &__wrapper-icons {
    @include flex();
    max-width: 135px;
    width: 100%;
    display: flex;
  }

  &__icons {
    order: 3;
    &--image {
      max-width: 25px;
      max-height: 25px;
      margin-right: 31px;
      cursor: pointer;

      @include media-mob() {
        &.loupe,
        &.bag {
          display: none;
        }
      }
    }

    &:last-child {
      &-image {
        margin-right: 0;
      }
    }
  }

  &__menu-mobile {
    position: fixed;
    top: 0;
    left: -200%;
    height: 100vh;
    width: 100%;
    background-color:$white;
    transition: all 0.9s;
    @include flex(space-between, flex-start);
    flex-direction: row-reverse;

    &.active {
      left: 0;
    }

  }

  &__menu-mobile-shadow {
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
    background-color: $black;
    opacity: 0.5;
    width: 20%;
  }

  &__menu-mobile-close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
  }

  &__menu-mobile-structure {
    width: 100%;
  }

  &__menu-mobile-wrapper {
    @include flex(space-between);
    width: 100%;
    background-color: $lightPurple;
  }

  &__menu-mobile-wrapper-personnel {
    @include flex();
    justify-content: space-around;
    background-color: $darkPurple;
  }

  &__menu-mobile-category {
    @include flex();
    flex-direction: column;
  }

  &__menu-mobile-department {
    @include flex(flex-start);
    margin-left: 12%;
    flex-direction: column;
    color: $black;
    background-color: $lightPurple;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__color-mobile-spacing {
    background-color: $darkPurple;
  }

  &__menu-mobile-personnel {
    @include flex(start);
    color: $white;
    background-color: transparent;
    width: 50%;
    height: 50px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__menu-mobile-icon {
    @include flex(flex-start 10px);
  }

  &__menu-mobile-icon-user {
    @include flex();
    margin: 20%;
    margin-left: 5px;
  }

  &__menu-mobile-icon-box {
    @include flex();
    margin: 20%;
    height: 25px;
    width: 25px;
  }

  &__menu-mobile-icon-bag {
    @include flex();
    margin: 20%;
    height: 25px;
    width: 25px;
  }

  &__menu-mobile-category {
    @include flex(start);
    background-color: transparent;
    color: $white;
    width: 40%;
    height: 50px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__menu-mobile-img-arrow {
    @include flex(flex-end);
    width: 20%;
    height: 32px;
    background-color: transparent;
    cursor: pointer;

    &.active {
      transform: rotate(0.5turn);
    }
  }

  &__menu-mobile-itens {
    display: none;

    &.active {
      display: block;
      background-color: $white;
    }
  }
}
