/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #9A7AA0;
}
.header__informatives-top {
  background-color: #614B65;
  color: #FFFFFF;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__informatives-top--text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.75rem;
  font-weight: 300;
  margin-right: 5px;
}
.header__informatives-top--text::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #FFFFFF;
  display: inline-block;
  margin: 0 10px 0 5px;
}
.header__informatives-top--text:last-child::after {
  display: none;
}
.header__informatives-top--text-strong {
  font-weight: 700;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.75rem;
}
.header__informatives-top--text-margin {
  font-weight: 300;
  margin-left: 5px;
}
.header__informatives-wrapper {
  max-width: 593px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__container {
    margin: 0 5px;
  }
}
.header__logo {
  max-width: 238px;
  width: 100%;
  margin-right: 31px;
}
.header__logo--text {
  font-size: 3rem;
  font-family: "ovo", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  width: 238px;
  height: 36px;
}
@media (max-width: 1024px) {
  .header__logo {
    order: 2;
  }
}
.header__menu-hamburguer {
  display: none;
}
@media (max-width: 1024px) {
  .header__menu-hamburguer {
    display: block;
    order: 1;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 31px;
}
@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__menu-wrapper {
  position: relative;
}
.header__menu-department {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  width: 146px;
  height: 101px;
}
.header__menu-items {
  position: absolute;
  left: 0;
  color: #302E2B;
  margin: 0 12px 0 26px;
  top: 100%;
  left: 0;
  max-width: 194px;
  width: 100%;
  font-weight: 400;
  box-sizing: border-box;
}
.header__menu-items :hover {
  background-color: #F1F1F1;
}
.header__menu-category {
  text-decoration: none;
  text-transform: capitalize;
  color: #302E2B;
  font-weight: 400;
  font-size: 0.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 194px;
  background-color: #FFFFFF;
}
.header__wrapper-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 135px;
  width: 100%;
}
.header__icons {
  order: 3;
}
.header__icons--image {
  max-width: 25px;
  max-height: 25px;
  margin-right: 31px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__icons--image.loupe, .header__icons--image.bag {
    display: none;
  }
}
.header__icons:last-child-image {
  margin-right: 0;
}
.header__menu-mobile {
  position: fixed;
  top: 0;
  left: -200%;
  height: 100vh;
  width: 100%;
  background-color: blue;
  transition: all 0.9s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.header__menu-mobile.active {
  left: 0;
}
.header__menu-mobile-shadow {
  top: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  background-color: #302E2B;
  opacity: 0.5;
  width: 20%;
}
.header__menu-mobile-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
}
.header__menu-mobile-structure {
  width: 100%;
}
.header__menu-mobile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9A7AA0;
}
.header__menu-mobile-wrapper-personnel {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #614B65;
}
.header__menu-mobile-departament {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #302E2B;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
.header__color-mobile-spacing {
  background-color: #614B65;
}
.header__menu-mobile-personnel {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #FFFFFF;
  background-color: transparent;
  width: 50%;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
}
.header__menu-mobile-icon {
  display: flex;
  justify-content: flex-start 10px;
  align-items: center;
}
.header__menu-mobile-icon-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
  margin-left: 5px;
}
.header__menu-mobile-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
  height: 25px;
  width: 25px;
}
.header__menu-mobile-icon-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
  height: 25px;
  width: 25px;
}
.header__menu-mobile-category {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  color: #FFFFFF;
  width: 40%;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
}
.header__menu-mobile-img-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
}
.header__menu-mobile-itens {
  display: none;
}/*# sourceMappingURL=style.css.map */