$darkPurple:#614B65;
$lightPurple:#9A7AA0;
$grey: #C4C4C4;
$darkGrey:#5C5762;
$lightNavyBlue:#8D94BA;
$darkGreen:#749497;
$lightGreen:#B4EDD2;
$purple:#542D84;
$white:#FFFFFF;
$ballNext:rgba(141, 148, 186, 0.1);
$orange:#FFAA00;
$black: #302E2B;
$backgroundGrey: #F1F1F1;